

*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #1A237E;
    color: white;
}

footer{
    background-color: #1A237E;
    color: white;
}

body{
    background-color: #283593;
}
h3{
    color: white;
}
#titleSmall{
    color: white;
}
#label1{
  color: white;
}
#textarea1{
  color: white;
}
#textarea2{
  color: white;
}

.sectionCard{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
main .button button{
    border: none;
    padding: 10px 20px ;
    border-radius: 3px;
    margin: 5px;
}
main .button button:hover{
    background-color: #01579B;
    color: white;
    transition: 0.5s;
}


.dark-mode{
    background:#212121;
}

.darkmodebody{
  background-color: #262626;
  color: white;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

